/* 共通スタイルは外に書く */
.p-blog__item:last-child {
  padding-bottom: 0;
}

.p-blog__itemTitle {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: normal;
}

.p-blog__itemText {
  color: #848484;
  font-size: 14px;
}

.p-blog__itemButton {
  background-color: #fcc72c;
  color: #ffffff;
  font-size: 13px;
  height: 50px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-blog__item {
    padding-bottom: 80px;
  }

  .p-blog__inner {
    padding: 80px 60px;
  }

  .p-blog__item {
    display: flex;
    column-gap: 20px;
  }

  .p-blog__item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .p-blog__itemImage img {
    width: 400px;
  }

  .p-blog__itemContent {
    width: calc(100% - 420px);
  }

  .p-blog__itemreverse {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }

  .p-blog__itemTitle {
    padding-top: 10px;
  }

  .p-blog__itemText {
    padding-top: 10px;
  }

  .p-blog__itemButton {
    width: 85px;
  }


}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-blog__item {
    padding-bottom: 40px;
  }

  .p-blog__inner {
    padding: 80px 10px;
  }

  .p-blog__itemTitle {
    padding-top: 20px;
  }

  .p-blog__itemText {
    padding-top: 20px;
  }


}