/* 共通スタイルは外に書く */

/* ファーストビューの全体 */
.p-fv {
  /* ファーストビュー全体の高さ指定 */
  height: 800px;
  /* ファーストビュー背景画像 */
  background-image: url(../../../../assets/images/hero.jpg);
  /* ファーストビュー背景画像を繰り返さない */
  background-repeat: no-repeat;
  /* ファーストビュー背景画像をウィンドウの横幅に合わせる */
  background-size: cover;
}

/* ファーストビューのタイトル */
.p-fv__title {
  color: #ffffff;
  /* テキストを中央に揃えるため高さを指定 */
  height: 800px;
  /* テキストを中央に揃えるためフレックスボックスを指定 */
  display: flex;
  /* テキストを左右中央に揃える */
  justify-content: center;
  /* テキストを上下中央に揃える */
  align-items: center;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-fv__title {
    font-size: 60px;
  }

}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-fv__title {
    font-size: 40px;
  }


}