/* 共通スタイルは外に書く */
.p-work {
  background-color: #efefef;
}

.p-work__item {
  /* 要素を中央寄せにするためにフレックスボックスを指定 */
  display: flex;
  /* 要素を縦並びにする */
  flex-direction: column;
  /* 要素を左右中央寄せ */
  align-items: center;
  padding-bottom: 50px;
}

.p-work__image img {
  width: 70px;
  height: 70px;
}

.p-work__image {
  /* 画像の下に余白 */
  padding-bottom: 30px;
}

.p-work__itemTitle {
  color: #5a5a5a;
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 20px;
}

.p-work__itemText {
  color: #848484;
  /* テキストを中央寄せにするためにフレックスボックスを指定 */
  display: flex;
  /* テキストを左右中央寄せ */
  text-align: center;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-work__inner {
    padding: 80px 60px;
  }

  .p-work__content {
    display: flex;
    flex-wrap: wrap;
  }

  .p-work__item {
    width: 30%;
    margin-right: 5%;
  }

  /* ３の倍数を選択 */
  .p-work__item:nth-child(3n) {
    /* 右の余白を無しにする */
    margin-right: 0;
  }

  /* 最後の３個を選択 */
  .p-work__item:nth-last-child(-n + 3) {
    /* 下の余白を無しにする */
    padding-bottom: 0;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-work__inner {
    padding: 80px 10px;
  }

  .p-work__item:last-child {
    padding-bottom: 0;
  }


}