/* 共通スタイルは外に書く */

/* サイドメニューの大枠 */
.c-sidebar {
  /* サイドメニューの色指定 */
  background-color: #80bfa8;
}

/* pc用スタイル */
@media screen and (min-width: 796px) {
  /* サイドメニューの大枠 */
  .c-sidebar {
    /* サイドメニューの横幅 */
    width: 300px;
    /* サイドメニューの全体を中央寄せ */
    text-align: center;
  }

  /* サイドメニューのタイトル見出し */
  .c-sidebar__title {
    /* タイトルの上に余白 */
    margin-top: 20px;
    /* タイトルの下に余白 */
    margin-bottom: 20px;
    /* 親要素の中央寄せを適用させるため */
    display: inline-block;
    /* 文字自体を左寄せ */
    text-align: left;
    /* 両サイドに余白を作るため */
    width: 90%;
    /* 文字サイズの指定 */
    font-size: 26px;
  }

  /* サイドメニューのテキスト全般 */
  .c-sidebar__text {
    /* テキストの下に余白 */
    margin-bottom: 20px;
    /* 親要素の中央寄せを適用させるため */
    display: inline-block;
    /* 文字自体を左寄せ */
    text-align: left;
    /* 両サイドに余白を作るため */
    width: 90%;
    /* フォントを太くする */
    font-weight: 100;
    /* 文字サイズの指定 */
    font-size: 18px;
  } 

}

/* sp用スタイル */
@media screen and (max-width: 795px) {
  .c-sidebar {
    padding: 40px;
  }

  .c-sidebar__text {
    margin-top: 20px;
  }

}