/* 共通スタイルは外に書く */

/* ヘッダーの大枠 */
.l-header {
  /* ヘッダーの色指定 */
  background-color: #141f40;
  /* ヘッダーの横幅 */
  width: 100%;
}

/* ヘッダーの各要素 */
.l-header__inner {
  /* ヘッダーの各要素の余白 */
  padding: 20px 40px;
  /* ヘッダーの各要素の両端揃え */
  justify-content: space-between;
  /* ヘッダーの各要素を横並び */
  display: flex;
  /* ヘッダーの各要素を中央に寄せる */
  align-items: center;
}

/* pc用スタイル */
@media screen and (min-width: 796px) {
  /* ヘッダーの文字まとめ */ 
  .l-header__navList {
    /* ヘッダーの文字を横並び */
    display: flex;
    /* ヘッダーの文字の色 */
    color: white; 
  }

  /* ヘッダーの各文字の設定 */
  .l-header__navItem {
    /* ヘッダーの各文字に左に余白 */
    padding-left: 20px;
  }
}

/* sp用スタイル */
@media screen and (max-width: 795px) {
  .l-header__logo {
    width: min(50%);
  } 
  .l-header__button {
    position: relative;
    width: 40px;
    height: 30px;
  }

  .l-header__buttonBar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .l-header__buttonBar:nth-last-of-type(1) {
    top: 0;
  }

  .l-header__buttonBar:nth-last-of-type(2) {
    top: 50%;
  }

  .l-header__buttonBar:nth-last-of-type(3) {
    top: 100%;
  }

}