/* 共通スタイルは外に書く */
.main_inner {
    max-width: 1080px;
    padding-inline: 40px;
    margin-inline: auto;
    margin-block: 40px;
}

.link {
    color: blue;
    display: block;
    font-size: 13px;
}

.font-bold {
    font-weight: bold;
}

.table {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #000;
}

.item {
    display: flex;
}

.item:first-child {
    margin-top: 0;
}

.item_title {
    font-weight: bold;
}

.subcontent {
    margin-top: 30px;
}

.subcontent:first-child {
    margin-top: 0;
}

.subcontent_title {
    font-weight: bold;
}

.subcontent_body {
    margin-top: 20px;
}

.subcontent_text {
    margin-top: 10px;
}

.tertiarycontent:nth-child(2) {
    margin-top: 20px;
}

.tertiarycontent_title {
    text-decoration: underline;
}

.tertiarycontent_text {
    margin-top: 10px;
}

.tertiarycontent_link {
    margin-top: 10px;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
    .table {
        gap: 40px;
    }

    .item {
        margin-top: 20px;
    }

    .item_title {
        flex-basis: 200px;
        flex-shrink: 0;
    }

    .pc-hidden {
        display: none;
    }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
    .table {
        gap: 30px;
    }

    .item {
        flex-direction: column;
        gap: 10px;
        margin-top: 5px;
    }

    .item_text {
        word-break: break-all;
    }
}